@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* font-family: 'Inter', sans-serif;
font-family: 'Lexend Deca', sans-serif; */

:root {
  --mainbackground: hsl(233, 47%, 7%);
  --cardbackground: hsl(244, 38%, 16%);
  --accent: hsl(277, 64%, 61%);
  --mainheading_stats: hsl(0, 0%, 100%);
  --mainparagraph: hsla(0, 0%, 100%, 0.75);
  --statheadings: hsla(0, 0%, 100%, 0.6);
  --inter: "Inter", sans-serif;
  --lexend: "Lexend Deca", sans-serif;
}
body {
  background-color: var(--mainbackground);
}
.container {
  margin-left: 13%;
  margin-top: 10%;
  height: 27rem;
  width: 74rem;
  padding: 15px 0px 15px 15px;
  background-color: var(--cardbackground);
  display: flex;
  border-radius: 7px;
}
.left {
  display: flex;
  flex-direction: column;
  margin-left: 55px;
  margin-top: 30px;
}
.left br {
  display: none;
}
h2 {
  font-family: var(--lexend);
  color: white;
  font-weight: 700;
  font-size: 35px;
  width: 23rem;
}
h2 span {
  color: var(--accent);
}
.left p {
  font-family: var(--inter);
  color: var(--mainparagraph);
  width: 24rem;
  line-height: 1.8rem;
}
.stats {
  display: flex;
  margin-top: 30px;
}
.statsdata {
  margin-right: 75px;
}
h3 {
  font-family: var(--inter);
  color: var(--mainheading_stats);
  font-size: 22px;
}
.stats .statsdata p {
  width: auto;
  text-transform: uppercase;
  font-size: 11.8px;
  font-family: var(--lexend);
  font-weight: lighter;
  letter-spacing: 1px;
  margin-top: -20px;
}
.right {
  background-image: url("./images/image-header-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 106.8%;
  width: 51%;
  margin-top: -14px;
  margin-left: 81px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: inset 0 0 0 1000px hsla(277, 100%, 54%, 0.52);
}
.right::after {
  background: rgba(50, 70, 80, 0.8);
  height: 100%;
  width: 100%;
  top: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  font-family: var(--lexend);
  margin-top: 60px;
  font-size: 15px;
  margin-left: 20px;
}
.attribution a {
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}
.attribution a:hover {
  color: var(--accent);
}
@media screen and (max-width: 500px) {
  .container {
    flex-direction: column-reverse;
    margin-left: 3.5%;
    margin-top: 10%;
    height: 49.4rem;
    width: 20.5rem;
  }
  .left p {
    width: 11rem;
  }
  h3 {
    margin-left: -39px;
  }
  .right {
    background-image: url(./images/image-header-mobile.jpg);
    width: 104%;
    margin-top: -14px;
    margin-left: -13px;
    border-radius: 10px 10px 0px 0px;
    background-size: contain;
    height: 100%;
    margin-bottom: 20.1rem;
  }

  .left br {
    display: block;
  }
  h2 {
    font-size: 28px;
    margin-left: -70px;
    text-align: center;
    margin-top: -19.5rem;
    position: absolute;
  }
  .left p {
    width: 14rem;
    text-align: center;
    margin-left: 3px;
    font-size: 13px;
    margin-top: -172px;
    position: absolute;
  }
  .stats {
    display: flex;
    margin-top: -26px;
    flex-direction: column;
    text-align: center;
    margin-left: 46px;
    margin-bottom: 14px;
  }
  .stats .statsdata p {
    margin-top: -20px;
    margin-left: 18px;
  }
  .attribution {
    font-size: 12px;
  }
}
